.navbar{
    padding-left: 35px;
    padding-right: 35px;
}

.container{
    display: flex;   
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    display: flex;   
    gap: 60px;
    font-family: 'Comfortaa', sans-serif;    
    font-weight: 400;    
    font-size: 20px;   
    cursor: pointer; 
    user-select: none;
}

.nav-links li:hover{
    text-decoration: underline;
}