<nav class="navbar">
    <div class="container">
        <a routerLink="/" class="navbar-brand">
            <img ngSrc="/lulu-icon.png" width="140" height="100" priority>
        </a>
        <ul class="nav-links">
            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/perfil" routerLinkActive="active">Monte o perfil</a></li>
            <li><a routerLink="/cuidados" routerLinkActive="active">Cuidados</a></li>
            <li><a routerLink="/comidas" routerLinkActive="active">Comidas</a></li>
        </ul>
    </div>
</nav>