<main class="main">
  <div class="content">
    <app-navbar></app-navbar>
    <div [ngClass]="['home-container']" 
         [ngStyle]="{
                    'display': 'flex',
                    'gap': '20px',
                    'alignItems': 'center',
                    'justifyContent': 'space-between',
                    'border-style': 'solid',
                    'border-width': '2px',
                    'border-color': 'red'
                    }"> 
      <div>
        <h1>Guia Lulu da Pomerânia</h1>
      </div>
      <div>
        <img ngSrc="/images/lulu-home.png" 
             [ngClass]="['home-image']" width="440" height="600" priority>
      </div>
    </div>
  </div>
</main>

<router-outlet />