.content{
    background: linear-gradient(160deg, #FF6B6B 10%, #DAA520 60%, #FF6B6B);
    height: 100vh;
}

.home-container{
    height: calc(100vh - 14vh);
    padding-left: 120px;
    padding-right: 120px;  
    display: flex;  
    align-items: center;
    justify-content: center;
}

.home-main{
    display: flex;
    border-radius: 60px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: 90%;
    height: 75vh;
    
    /*background: linear-gradient(160deg, #DAA520 10%, #FF6B6B 80%, #DAA520);*/
}

.home-image{
    box-shadow:  0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 60px;
}

